<!DOCTYPE html>
<html>
    <body>
        <form action="/verificare-autentificare" method="post">
            <label for="utilizator">Utilizator</label>
            <input type="text" name="utilizator">
            <br>
        
            <label for="parola">Parola</label>
            <input type="password" name="parola">
            <br>

            <button type="submit">Autentificare</button>
        </form>
    </body>
</html>