<!DOCTYPE html>
<html>

    <body>
        <form>
            <button type="submit">Creare BD</button>
        </form>

        <form>
            <button type="submit">Încarcare BD</button>
        </form>
        
    </body>
</html>