<!DOCTYPE html>
<html>
    <head>
        <title>Acasă</title>
    </head>

    <body>
        <% if (username) { %>
            <p>Logged in as <%= username %></p>
            <form action="/logout" method="POST">
              <button type="submit">Sign Out</button>
            </form>
          <% } else { %>
            <a href="/autentificare">Please log in.</a>
          <% } %>
        <%- body %>
    </body>
</html>